page-filme {

    .botao{
        position: fixed !important;
        /* float: right; */
        /* display: inline; */
        bottom: 100px;
        right: 6px;
        /* z-index: 9; */
        /* border: none !important; */
        background-color: #5d97fe;
        width: 50px;
        height: 50px;
    }
    
}
