page-configuracoesdalista {
.titulo{
    position: relative;

    top: 200px;
}
.imgdiv{
    position: absolute;
    left: 140px;
    top: 80px;
}
.botao{
    position: absolute;
    width: 80%;
   left: 40px;
    bottom: 100px;
}
}
                                                                                                         